org.qiweb.modules/org.qiweb.modules.xml/src/test/resources/defensive/XML-Parser-XSD-Include_URL.xml

<?xml version="1.0"?>
<!-- Reference to an XML Schema (URL variant). -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="http://www.example.com/xsd"/>
  <xs:element name="root">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="a"/>
        <xs:element ref="b"/> 
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="a">
    <xs:complexType/>
  </xs:element>
  <xs:element name="b">
    <xs:complexType/>
  </xs:element>
</xs:schema>
